<nav class="h-20 musshadow fixed bottom-0 top-auto right-0 left-0 xl:static xl:shadow-none">
    <ul class="h-20 grid grid-cols-5 items-center justify-evenly bg-cta-dark text-white xl:flex xl:bg-white xl:text-cta-dark"
        id="navigationTop"
        x-data="menuMobile">
        {% include '@MarcheBe/header/mobile/_nav_icon_home_mobile.html.twig' %}
        {#        <NavIconHomeMobile /> #}
        {% include '@MarcheBe/header/mobile/_nav_icon_search_mobile.twig' %}
        {#  <NavIconSearchMobile /> #}
        <li
                class="nav-top xl:font-montserrat-semi-bold xl:transition-all xl:duration-500 btn-vivre xl:py-12">
            <a href="#" class="hidden xl:flex">
                {# <IconMenuVivreSvg /> #}
                {% include '@MarcheBe/header/_svg_menu_vivre.html.twig' %}
                Vivre à Marche
            </a>
            <label for="checkboxMenu" class="xl:hidden icon-menu-mobile cursor-pointer">
                <button name="menu" @click="menuMobileIsOpen=true">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                    </svg>
                </button>
                <span class="text-menu-mobile">Menu</span>
            </label>
            {% include '@MarcheBe/header/_navigation_vivre.html.twig' %}
            {# <NavigationVivre /> #}
        </li>
        {% include '@MarcheBe/header/mobile/_nav_icon_commune_shortcut_mobile.html.twig' %}
        {# <NavIconCommuneShortCutMobile /> #}
        {% include '@MarcheBe/header/xl/_nav_items_xl.html.twig' %}
        {# <NavItemsXl @open-search="openSearch" /> #}
    </ul>
</nav>