<div
    class="mr-4 flex w-auto flex-col text-sm text-white xl:col-span-4 xl:ml-auto xl:block"
  >
    <a href="/" class="border-b border-b-white/50">Mentions légales et RGPD</a>
    - Copyright © 2020 - Ville de Marche-en-Famenne. Tous droits réservé
  </div>