<div class="border-l border-l-white/50 px-3">
    <h4 class="font-montserrat-semi-bold">Raccourcis</h4>
    <ul class="grid grid-cols-2 text-sm leading-6">
        <li class="px-2"><a href="">Piscine</a></li>
        <li class="px-2"><a href="">Environnement</a></li>
        <li class="px-2"><a href="">Travaux</a></li>
        <li class="px-2"><a href="">Arrêtés de police</a></li>
        <li class="px-2"><a href="">Enfant-Stage</a></li>
        <li class="px-2"><a href="">Plan de la ville</a></li>
        <li class="px-2"><a href="">CPAS</a></li>
        <li class="px-2"><a href="">Tourisme</a></li>
        <li class="px-2"><a href="">Mon mail</a></li>
    </ul>
</div>
