<div class="my-2 xl:mr-4 h-60 xl:h-80 overflow-hidden xl:row-start-2 xl:row-end-5 xl:col-start-1 xl:col-end-3">
    <picture>
        <img
                src="{{ image }}"
                alt="img"
                class="object-top"
        />
    </picture>
</div>