<ul class="flex xl:row-start-3 xl:row-end-4 xl:col-start-3 xl:col-end-4">
    {% for tag in tags %}
        <li class="mx-2 flex items-center border border-cta-dark px-2 py-2 text-cta-dark transition-all duration-500 ease-in-out hover:bg-cta-dark hover:text-white">
            <a href="{{ tag.url }}">
                {{ tag.name }}
            </a>
        </li>
    {% endfor %}
</ul>